@model Teacher
<form action="/Teacher/SaveReg" method="post">
    <div class="form-group">
        <label for="fm-gh">工号</label>
        <input type="text" class="form-control" asp-for="GH" id="fm-gh" aria-describedby="gh-help">
        <small id="gh-help" class="form-text text-muted">请输入教师的工号.</small>
    </div>
    <div class="form-group">
        <label for="fm-xm">姓名</label>
        <input type="text" class="form-control" asp-for="XM" id="fm-xm" aria-describedby="xm-help">
        <small id="xm-help" class="form-text text-muted">请输入教师的姓名.</small>
    </div>
    <div class="form-group">
        <label>性别</label>
        <input type="radio" value="男" asp-for="XB" />男
        <input type="radio" value="女" asp-for="XB" />女
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="text" class="form-control" asp-for="MM" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>